body {
  --background: #e6ecf0;
  /* --background: #f2efea; */
  
  --accent-color: #fc7753;
  
  --divider-color: #bdbdbd;
  
  --text-light: #f2efea;
  --text-primary: #212121;
  --text-secondary: #403d58;

  --dark-primary: #2daba4;
  --primary-color: #66d7d1;
  --light-primary: #b7ece9;

  --straw: #dbd56eff;
}

.app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}